# Ignore node_modules in both frontend and backend
eventease-frontend/node_modules/
eventease-backend/node_modules/

# Ignore build output
eventease-frontend/build/

# Ignore environment variable files
eventease-frontend/.env
eventease-backend/.env

# Ignore backend uploads
eventease-backend/uploads/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
